Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-09, with the labels that each got.

#88 fix/CCN3-1597/change-email-address
  login_app/templates/check-email.html
Labels: App: Frontend, Priority: Medium, Type: Bug

#89 fix/CCN3-1838/update-on-childcare-address-guidance-page
  childcare_address_app/templates/childcare-address-guidance.html
Labels: App: Frontend, Priority: Medium, Type: Content

#90 fix/CCN3-1753/Nannies-help-and-contact
  tasks_app/templates/help-contact.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Content
