Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-07, with the labels that each got.

#39 fix/CCN3-959/remove-list-return-link
  childcare_training_task_app/templates/childcare-training-guidance.html
Labels: App: Frontend, Priority: Medium

#37 Feat/ccn3-1455/start page
  login_app/templates/start-page.html
  login_app/urls.py
Labels: App: Frontend, Priority: Medium

#36 feat/ccn3-938/security-question
  login_app/forms/__init__.py
  login_app/forms/security_question.py
  login_app/templates/security-question.html
  login_app/tests/tests.py
  login_app/views/security_question.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Enhancement, Type: Tests

#35 Insurance cover task
  dbs_app/tests/tests_views/test_details_page.py
  insurance_cover_app/__init__.py
  insurance_cover_app/apps.py
  insurance_cover_app/forms/__init__.py
  insurance_cover_app/forms/public_liability.py
  insurance_cover_app/templates/insurance-cover.html
  insurance_cover_app/templates/insurance-guidance.html
  insurance_cover_app/templates/insurance-summary.html
  insurance_cover_app/templates/public-liability.html
  insurance_cover_app/tests/__init__.py
  insurance_cover_app/tests/test_base.py
  insurance_cover_app/tests/test_views/__init__.py
  insurance_cover_app/tests/test_views/test_guidance.py
  insurance_cover_app/tests/test_views/test_insurance_cover.py
  insurance_cover_app/tests/test_views/test_public_liability.py
  insurance_cover_app/tests/test_views/test_summary.py
  insurance_cover_app/urls.py
  insurance_cover_app/views/__init__.py
  insurance_cover_app/views/guidance.py
  insurance_cover_app/views/insurance_cover.py
  insurance_cover_app/views/public_liability.py
  insurance_cover_app/views/summary.py
  nanny/__init__.py
  nanny/base_views.py
  nanny/settings/base.py
  nanny/urls.py
  nanny/utilities.py
  tasks_app/templates/criminal-record-guidance.html
  tasks_app/templates/insurance-cover-guidance.html
  tasks_app/views/__init__.py
  tasks_app/views/criminal_record_guidance.py
  tasks_app/views/task_list.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: Medium, Type: Feature

#44 Render correct heading for page
  childcare_address_app/templates/childcare-address-manual.html
Labels: App: Frontend

#46 fix/ccn3-1455/nav-bar-link
  govuk_template/templates/govuk_template.html
  login_app/urls.py
  nanny/settings/base.py
Labels: App: Backend, Priority: Medium, Type: Bug

#47 remove return to list links from dbs guidance and dbs summary
  dbs_app/templates/dbs-guidance.html
  dbs_app/templates/dbs-summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Bug

#51 fix/ccn3-974/content-updates
  declaration_app/templates/declaration-guidance.html
  declaration_app/templates/final-declaration.html
Labels: App: Frontend, Priority: High

#52 make backupCount var an integer
  nanny/settings/base.py
Labels: App: Backend

#53 Create home address record if it doesn't already exist
  .gitignore
  childcare_address_app/views/childcare_location.py
  childcare_address_app/views/summary.py
Labels: App: Backend, Env: Dev, Priority: Medium, Type: Bug

#54 CCN3-1038: Update Nanny email templates
  login_app/views/existing_user_sign_in.py
  login_app/views/new_user_sign_in.py
  payment_app/services/payment_service.py
  payment_app/views/payment.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Content

#55 CCN3-1480: Remove return to list link from summary pages
  childcare_address_app/templates/childcare-address-summary.html
  dbs_app/templates/dbs-summary.html
  first_aid_app/templates/summary.html
Labels: App: Frontend, Env: Dev, Priority: High, Type: Bug

#57 fix/CCN3-1011/childcare-address-summary-page
  childcare_address_app/templates/childcare-address-summary.html
Labels: App: Frontend, Priority: High, Type: Content

#58 CCN3-1038: Update send_email method to accept service_name parameter
  login_app/views/resend_email.py
  nanny/notify.py
Labels: App: Backend, Env: Dev, Priority: High, Type: Bug

#56 fix/nanny-start-page-css
  login_app/templates/start-page.html
  nanny/static/stylesheets/custom.css
Labels: App: Frontend, Priority: Low, Type: Bug

#59 CCN3-1038: Update test_notify method with Nannies template
  nanny/utilities.py
Labels: App: Backend, Env: Dev, Priority: High, Type: Bug

#61 CCN3-1038: Correct template ID to sign in email
  login_app/views/resend_email.py
Labels: App: Frontend, Env: Dev, Priority: High, Type: Bug

#62 CCN3-1038 bug: Set correct email template if existing or new user
  login_app/views/existing_user_sign_in.py
  login_app/views/new_user_sign_in.py
  login_app/views/resend_email.py
Labels: App: Backend, Env: Dev, Priority: High, Type: Bug
