Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-06, with the labels that each got.

#1 feat/ccn3-928/login-journey
  Dockerfile
  login_app/forms/__init__.py
  login_app/forms/account_selection.py
  login_app/forms/contact_email.py
  login_app/forms/forms.py
  login_app/forms/phone_number.py
  login_app/forms/security_code.py
  login_app/forms/security_question.py
  login_app/models/models.py
  login_app/notify.py
  login_app/templates/account-selection.html
  login_app/templates/application-saved.html
  login_app/templates/back-button.html
  login_app/templates/check-email.html
  login_app/templates/contact-details-summary.html
  login_app/templates/email-resent.html
  login_app/templates/error-summary.html
  login_app/templates/existing-user-sign-in.html
  login_app/templates/form.html
  login_app/templates/help-and-contacts.html
  login_app/templates/index.html
  login_app/templates/link-used.html
  login_app/templates/new-user-sign-in.html
  login_app/templates/phone-number.html
  login_app/templates/resend-security-code.html
  login_app/templates/security-code.html
  login_app/templates/security-question.html
  login_app/templates/service-unavailable.html
  login_app/templates/success.html
  login_app/tests/tests_views/tests.py
  login_app/urls.py
  login_app/utils.py
  login_app/views/__init__.py
  login_app/views/account_selection.py
  login_app/views/application_saved.py
  login_app/views/base.py
  login_app/views/check_email.py
  login_app/views/existing_user_sign_in.py
  login_app/views/help_and_contacts.py
  login_app/views/index.py
  login_app/views/link_used.py
  login_app/views/new_user_sign_in.py
  login_app/views/phone_number.py
  login_app/views/resend_email.py
  login_app/views/resend_security_code.py
  login_app/views/revealing_forms.py
  login_app/views/security_code.py
  login_app/views/security_question.py
  login_app/views/service_unavailable.py
  login_app/views/simple_forms.py
  login_app/views/summary.py
  login_app/views/validate_magic_link.py
  nanny/settings/base.py
  nanny/settings/dev.py
  requirements.txt
Labels: enhancement

#2 Added build settings file
  nanny/settings/build.py
Labels: enhancement

#3 Fix/adding build settings
  nanny/settings/build.py
  nanny/urls.py
Labels: enhancement

#8 fix/ccn3-928/build-env-fixes
  login_app/login_redirect_helper.py
  login_app/static-src/stylesheets/demo.scss
  login_app/static/Background checks if you live or work with a childminder.pdf
  login_app/static/card-types.png
  login_app/static/download-button.png
  login_app/static/icon-important-2x.png
  login_app/static/printer.png
  login_app/static/stylesheets/custom.css
  login_app/views/security_code.py
  login_app/views/security_question.py
  login_app/views/summary.py
  nanny/settings/base.py
  nanny/settings/dev.py
  tasks_app/models/__init__.py
  tasks_app/models/applicant_personal_details.py
  tasks_app/models/base.py
  tasks_app/templates/task-list.html
  tasks_app/views/task_list.py
Labels: bug

#10 Refactor/api calls
  Dockerfile
  nanny/404.html
  nanny/500.html
  nanny/settings/base.py
  tasks_app/views/task_list.py
Labels: enhancement

#14 fix/login-journey-fixes
  login_app/forms/security_question.py
  login_app/login_redirect_helper.py
  login_app/templates/security-code.html
  login_app/utils.py
  login_app/views/base.py
  login_app/views/existing_user_sign_in.py
  login_app/views/new_user_sign_in.py
  login_app/views/phone_number.py
  login_app/views/resend_security_code.py
  login_app/views/security_code.py
  login_app/views/security_question.py
  login_app/views/summary.py
  login_app/views/validate_magic_link.py
  tasks_app/templates/task-list.html
  tasks_app/views/task_list.py
Labels: App: Backend, Priority: High, Type: Enhancement, Type: Refactor

#13 feat/ccn3-953/first-aid-task
  first_aid_app/__init__.py
  first_aid_app/admin.py
  first_aid_app/apps.py
  first_aid_app/forms/__init__.py
  first_aid_app/forms/training_details.py
  first_aid_app/migrations/__init__.py
  first_aid_app/models/__init__.py
  first_aid_app/templates/__init__.py
  first_aid_app/templates/declaration.html
  first_aid_app/templates/guidance.html
  first_aid_app/templates/return-to-list.html
  first_aid_app/templates/standard-error-summary.html
  first_aid_app/templates/summary.html
  first_aid_app/templates/training_details.html
  first_aid_app/tests/__init__.py
  first_aid_app/tests/test_views.py
  first_aid_app/urls.py
  first_aid_app/views/__init__.py
  first_aid_app/views/base.py
  first_aid_app/views/declaration.py
  first_aid_app/views/guidance.py
  first_aid_app/views/summary.py
  first_aid_app/views/training_details.py
  first_aid_app/widgets/__init__.py
  first_aid_app/widgets/customfields.py
  first_aid_app/widgets/first_aid.py
  login_app/login_redirect_helper.py
  nanny/settings/base.py
  nanny/urls.py
  tasks_app/urls.py
  tasks_app/views/task_list.py
  utils.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: High

#11 feat/ccn3-958/childcare-training-task
  childcare_training_task_app/__init__.py
  childcare_training_task_app/apps.py
  childcare_training_task_app/forms/__init__.py
  childcare_training_task_app/forms/type_of_childcare_training.py
  childcare_training_task_app/templates/childcare-training-course.html
  childcare_training_task_app/templates/childcare-training-guidance.html
  childcare_training_task_app/templates/childcare-training-summary.html
  childcare_training_task_app/templates/type-of-childcare-training.html
  childcare_training_task_app/tests/__init__.py
  childcare_training_task_app/tests/test_migrations/__init__.py
  childcare_training_task_app/tests/test_task.py
  childcare_training_task_app/urls.py
  childcare_training_task_app/views/__init__.py
  childcare_training_task_app/views/childcare_training_course.py
  childcare_training_task_app/views/childcare_training_guidance.py
  childcare_training_task_app/views/childcare_training_summary.py
  childcare_training_task_app/views/type_of_childcare_training.py
  nanny/settings/base.py
  nanny/settings/test.py
  nanny/urls.py
  tasks_app/templates/childcare-training-guidance.html
  tasks_app/urls.py
  tasks_app/views/__init__.py
  tasks_app/views/childcare_training_guidance.py
  tasks_app/views/task_list.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: High, Type: Feature

#17 check status of api response before referencing record
  childcare_address_app/views/childcare_address_entry.py
Labels: App: Backend, Env: Dev, Priority: High

#18 feat/ccn3-942/sign-in-details-task
  login_app/templates/change-email.html
  login_app/templates/contact-details-summary.html
  login_app/urls.py
  login_app/views/__init__.py
  login_app/views/change_email.py
  login_app/views/phone_number.py
  login_app/views/summary.py
  tasks_app/views/task_list.py
Labels: App: Frontend, Priority: High, Type: Enhancement

#20 Feat/start page
  govuk_template/templates/govuk_template.html
  login_app/templates/start-page.html
  login_app/urls.py
  login_app/views/__init__.py
  login_app/views/base.py
  login_app/views/start_page.py
  nanny/settings/base.py
Labels: App: Frontend, Type: Feature

#21 fix/login-journey-content-fixes
  login_app/templates/email-resent.html
  login_app/templates/resend-security-code.html
  login_app/templates/security-code.html
  login_app/utils.py
  login_app/views/security_question.py
  nanny/static/stylesheets/custom.css
  tasks_app/templates/task-list.html
Labels: App: Frontend, Priority: High, Type: Bug

#23 Feat/ccn3 943/your personal details
  nanny/settings/base.py
  nanny/urls.py
  personal_details_app/__init__.py
  personal_details_app/address_helper.py
  personal_details_app/admin.py
  personal_details_app/apps.py
  personal_details_app/customfields.py
  personal_details_app/forms/__init__.py
  personal_details_app/forms/date_of_birth.py
  personal_details_app/forms/home_address.py
  personal_details_app/forms/lived_abroad.py
  personal_details_app/forms/name.py
  personal_details_app/migrations/__init__.py
  personal_details_app/models.py
  personal_details_app/templates/__init__.py
  personal_details_app/templates/address-details.html
  personal_details_app/templates/certificates_of_good_conduct.html
  personal_details_app/templates/dob.html
  personal_details_app/templates/lived_abroad.html
  personal_details_app/templates/names.html
  personal_details_app/templates/personal-details-home-address-lookup.html
  personal_details_app/templates/personal-details-home-address-manual.html
  personal_details_app/templates/personal-details-home-address.html
  personal_details_app/templates/personal_details_summary.html
  personal_details_app/templates/return-to-list.html
  personal_details_app/templates/send_certificates.html
  personal_details_app/templates/standard-error-summary.html
  personal_details_app/tests.py
  personal_details_app/urls.py
  personal_details_app/utils.py
  personal_details_app/views/BASE.py
  personal_details_app/views/__init__.py
  personal_details_app/views/certificates.py
  personal_details_app/views/date_of_birth.py
  personal_details_app/views/home_address.py
  personal_details_app/views/lived_abroad.py
  personal_details_app/views/names.py
  personal_details_app/views/summary.py
  tasks_app/urls.py
  tasks_app/views/task_list.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: High, Type: Feature

#25 fix page widths and correct typo
  personal_details_app/templates/personal-details-home-address-lookup.html
  personal_details_app/templates/personal_details_summary.html
Labels: App: Frontend, Env: Dev, Priority: High, Type: Bug

#27 Add bespoke error summary titles
  personal_details_app/forms/date_of_birth.py
  personal_details_app/forms/home_address.py
  personal_details_app/forms/name.py
Labels: App: Backend

#29 tests.py: Remove broken tests temporarily.
  login_app/tests/tests.py
Labels: Type: Bug, Type: Tests

#34 feat/ccn3-964/dbs-check
  dbs_app/__init__.py
  dbs_app/apps.py
  dbs_app/forms/__init__.py
  dbs_app/forms/dbs_details.py
  dbs_app/migrations/__init__.py
  dbs_app/templates/__init__.py
  dbs_app/templates/dbs-details.html
  dbs_app/templates/dbs-guidance.html
  dbs_app/templates/dbs-summary.html
  dbs_app/templates/dbs-upload.html
  dbs_app/tests/__init__.py
  dbs_app/tests/tests.py
  dbs_app/tests/tests_views/__init__.py
  dbs_app/tests/tests_views/test_details_page.py
  dbs_app/tests/tests_views/test_post_dbs_page.py
  dbs_app/tests/tests_views/test_routing.py
  dbs_app/tests/tests_views/test_summary_page.py
  dbs_app/urls.py
  dbs_app/views/__init__.py
  dbs_app/views/dbs_details.py
  dbs_app/views/dbs_guidance.py
  dbs_app/views/dbs_summary.py
  dbs_app/views/dbs_upload.py
  nanny/settings/base.py
  nanny/urls.py
  tasks_app/templates/dbs-guidance.html
  tasks_app/urls.py
  tasks_app/views/__init__.py
  tasks_app/views/dbs_guidance.py
  tasks_app/views/task_list.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: Medium, Type: Enhancement
