Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-10, with the labels that each got.

#92 CCN3-1589: Update master summary page title
  declaration_app/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Review needed, User story

#91 CCN3-1556: Fix content width on Payment page
  payment_app/templates/payment-details.html
Labels: App: Frontend, Env: Dev, Priority: Low, Review needed, Type: Bug

#94 fix/CCN3-1569/force-applicants-to-complete-personal-details-task
  login_app/login_redirect_helper.py
  login_app/views/summary.py
  personal_details_app/templates/address-details.html
  personal_details_app/templates/certificates_of_good_conduct.html
  personal_details_app/templates/dob.html
  personal_details_app/templates/lived_abroad.html
  personal_details_app/templates/names.html
  personal_details_app/templates/personal-details-home-address-lookup.html
  personal_details_app/templates/personal-details-home-address-manual.html
  personal_details_app/templates/personal-details-home-address.html
  personal_details_app/templates/send_certificates.html
  personal_details_app/tests/test_views/test_postcode_entry.py
  personal_details_app/views/date_of_birth.py
  personal_details_app/views/home_address.py
  personal_details_app/views/lived_abroad.py
  personal_details_app/views/names.py
  personal_details_app/views/summary.py
  tasks_app/views/task_list.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: Medium, Type: Enhancement, Type: Feature, User story

#97 CCN3-1589: Alt text fix
  declaration_app/templates/summary_tables.html
  nanny/generic_templates/generic-summary-template.html
  personal_details_app/views/summary.py
Labels: App: Frontend, Priority: Medium, User story

#99 CCN3-1570: Functionality to remove childcare addresses
  childcare_address_app/templates/childcare-address-details.html
  childcare_address_app/templates/childcare-details-error-summary.html
  childcare_address_app/tests/tests_views/test_details_view.py
  childcare_address_app/views/childcare_address_entry.py
  nanny/static/stylesheets/custom.css
  nanny/test_utils.py
Labels: App: Frontend, Env: Dev, Priority: Medium, User story

#101 fix/trello-131/nannies-missing-sign-out-link
  personal_details_app/views/summary.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: Low, Review needed, Type: Bug

#100 fix/CCN3-1474/Nannies-childcare-address-back-button
  childcare_address_app/views/childcare_address_entry.py
Labels: App: Backend, Env: Dev, Priority: Medium, Review needed, Status: Help Wanted, Type: Refactor

#103 CCN3-1589: Add alternate text to template
  declaration_app/templates/summary_tables.html
Labels: App: Backend, Env: Dev, Priority: High, Review needed, Type: Bug

#104 CCN3-1570: Fix bug where reload of page with one address redirects to Where you work page
  childcare_address_app/tests/tests_views/test_details_view.py
Labels: App: Frontend, Env: Dev, Priority: High, Review needed, Type: Bug

#106 fix/personal-details-summary-change-links
  personal_details_app/views/summary.py
Labels: App: Backend, Priority: High, Type: Bug

#107 CCN3-1589: Add visuallyhidden class to custom CSS
  nanny/static/stylesheets/custom.css
Labels: App: Backend, Env: Dev, Priority: High, Review needed, Type: Bug

#109 CCN3-1482: Update first aid training content
  first_aid_app/templates/guidance.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Content

#110 feat/CCN3-1825/nannies-update-personal-details-task-for-known-children
  tasks_app/views/task_list.py
Labels: App: Backend, Env: Dev, Priority: High, Review needed, Type: Feature

#112 fix/header-link-redirect
  childcare_training_task_app/views/childcare_training_summary.py
  dbs_app/views/dbs_summary.py
  declaration_app/views/master_summary.py
  insurance_cover_app/views/summary.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Bug

#115 feat/CCN3-1825/nannies-update-personal-details-task-for-known-children
  personal_details_app/views/summary.py
Labels: App: Frontend, Env: Dev, Priority: High, Review needed, Type: Feature

#116 fix/CCN3-1825/fix-page-content-master-summary-and-personal-details-summary
  personal_details_app/views/summary.py
Labels: App: Backend, Env: Dev, Priority: High, Review needed
