Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-11, with the labels that each got.

#121 feat/CCN3-1571/childcare-address-return-journey
  childcare_address_app/forms/childcare_location.py
  childcare_address_app/forms/where_you_work.py
  childcare_address_app/templates/childcare-address-lookup.html
  childcare_address_app/templates/childcare-address-manual.html
  childcare_address_app/templates/childcare-address-postcode.html
  childcare_address_app/templates/childcare-address-summary.html
  childcare_address_app/tests/tests_views/test_summary_page.py
  childcare_address_app/tests/tests_views/test_where_you_work.py
  childcare_address_app/views/childcare_address_entry.py
  childcare_address_app/views/childcare_location.py
  childcare_address_app/views/summary.py
  childcare_address_app/views/where_you_work.py
  nanny/db_gateways.py
  nanny/generic_templates/generic-summary-template.html
  nanny/table_util.py
Labels: App: Backend, App: Frontend, Priority: Medium, Review needed, Type: Feature

#123 feat/CCN3-1826/create-your-children-task-for-children-known-to-LA
  declaration_app/views/master_summary.py
  nanny/db_gateways.py
  nanny/table_util.py
  nanny/utilities.py
  your_children_app/forms/your_children_address.py
  your_children_app/templates/your-children-guidance.html
  your_children_app/urls.py
  your_children_app/utils.py
  your_children_app/views/your_children_address.py
  your_children_app/views/your_children_addresses.py
  your_children_app/views/your_children_details.py
Labels: App: Backend, Env: Dev, Priority: High, Review needed, Type: Bug

#125 fix/CCN3-1571/childcare-address-yes-to-no-fix
  childcare_address_app/views/childcare_address_entry.py
  childcare_address_app/views/childcare_location.py
Labels: App: Backend, Priority: High, Review needed, Type: Bug

#126 feat/CCN3-1826/create-your-children-task-for-children-known-to-LA
  your_children_app/forms/your_children_address.py
  your_children_app/templates/your-children-address-selection.html
  your_children_app/templates/your-children-addresses.html
  your_children_app/templates/your-children-check-answers.html
  your_children_app/templates/your-children-details.html
  your_children_app/templates/your-children-manual-address.html
  your_children_app/templates/your-children-postcode.html
  your_children_app/templates/your-children-summary.html
  your_children_app/views/your_children_address.py
  your_children_app/views/your_children_details.py
Labels: App: Backend, Env: Dev, Priority: High, Review needed, Type: Enhancement

#127 Feat/ccn3 1826/create your children task for children known to la
  your_children_app/views/your_children_address.py
  your_children_app/views/your_children_addresses.py
  your_children_app/views/your_children_details.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Review needed

#128 feat/CCN3-1826/create-your-children-task-for-children-known-to-LA
  your_children_app/utils.py
  your_children_app/views/your_children_addresses.py
Labels: App: Backend, Priority: Critical, Review needed

#129 Feat/ccn3 1826/create your children task for children known to la
  your_children_app/utils.py
Labels: App: Frontend, Env: Dev, Priority: High

#132 Feat/ccn3 1846/fixes for arc comments for many to one
  childcare_address_app/views/childcare_address_entry.py
  childcare_address_app/views/summary.py
  nanny/base_views.py
  nanny/table_util.py
  nanny/utilities.py
  personal_details_app/views/date_of_birth.py
  personal_details_app/views/home_address.py
  personal_details_app/views/summary.py
  your_children_app/utils.py
  your_children_app/views/your_children_address.py
  your_children_app/views/your_children_addresses.py
  your_children_app/views/your_children_details.py
  your_children_app/views/your_children_summary.py
Labels: App: Backend, Env: Dev, Priority: Low, Review needed, Type: Enhancement, Type: Feature
