Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2018-08, with the labels that each got.

#64 CCN3-1476: Content changes for childcare address task
  childcare_address_app/forms/childcare_location.py
  childcare_address_app/templates/childcare-address-guidance.html
  childcare_address_app/templates/childcare-address-summary.html
  childcare_address_app/templates/childcare-location.html
Labels: App: Frontend, Env: Dev, Priority: Low, Type: Feature

#67 fix/login-redirect-helper-fix
  login_app/login_redirect_helper.py
  login_app/tests/tests.py
  nanny/db_gateways.py
Labels: App: Backend, Priority: High, Type: Bug

#68 feat/ccn3-1598/cancel-nanny-application
  nanny/settings/base.py
  tasks_app/templates/application-cancelled.html
  tasks_app/templates/cancel-application.html
  tasks_app/templates/task-list.html
  tasks_app/tests/test_views/test_cancel_application.py
  tasks_app/urls.py
  tasks_app/views/__init__.py
  tasks_app/views/cancel_application.py
Labels: App: Frontend, Priority: Medium, Type: Feature

#69 Remove dictionary reference which may not exist
  nanny/notify.py
Labels: App: Backend

#75 feat/CCN3-1597/change-email-address
  login_app/forms/contact_email.py
  login_app/templates/change-email.html
  login_app/templates/contact-details-summary.html
  login_app/tests/change_email_tests.py
  login_app/views/change_email.py
  login_app/views/validate_magic_link.py
  nanny/notify.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Feature

#79 feat/CCN3-1597/change-email-address
  login_app/templates/change-email.html
  login_app/templates/check-email.html
  login_app/templates/contact-details-summary.html
  login_app/templates/email-resent.html
  login_app/urls.py
  login_app/views/__init__.py
  login_app/views/change_email.py
  login_app/views/check_email.py
  login_app/views/resend_change_email.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Feature

#80 task-list.html: Remove 'cancel application' link for return journey.
  tasks_app/templates/task-list.html
Labels: App: Frontend, Type: Bug

#81 feat/CCN3-1597/change-email-address
  login_app/views/change_email.py
  login_app/views/resend_change_email.py
  nanny/notify.py
Labels: App: Frontend, Priority: Critical, Type: Feature

#85 Task/improved-selenium-tests
  automated_tests_selenium/page_objects/login.py
  automated_tests_selenium/tests/test_apply_as_a_nanny.py
Labels: App: Frontend, Priority: Medium, Type: Tests

#86 Task/improved-selenium-tests
  automated_tests_selenium/page_objects/account_registration.py
  automated_tests_selenium/page_objects/childcare_training_task.py
  automated_tests_selenium/page_objects/login.py
  automated_tests_selenium/tests/test_apply_as_a_nanny.py
  automated_tests_selenium/util/web_util.py
Labels: Priority: Medium, Type: Tests
