Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2019-03, with the labels that each got.

#160 Fix/ccn3 1913/lived abroad appears twice
  application/presentation/dbs/views/criminal_record_checks_summary.py
  application/presentation/personal_details/forms/lived_abroad.py
  application/presentation/personal_details/templates/certificates_of_good_conduct.html
  application/presentation/personal_details/templates/lived_abroad.html
  application/presentation/personal_details/templates/send_certificates.html
  application/presentation/personal_details/urls.py
  application/presentation/personal_details/views/__init__.py
  application/presentation/personal_details/views/certificates.py
  application/presentation/personal_details/views/home_address.py
  application/presentation/personal_details/views/lived_abroad.py
  application/presentation/personal_details/views/summary.py
  application/tests/test_personal_details/test_routing.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Enhancement

#161 Fix/ccn3 1419/nanny review flagging
  application/presentation/dbs/forms/dbs_details.py
  application/presentation/dbs/forms/dbs_type.py
  application/presentation/dbs/views/criminal_record_checks_summary.py
  application/presentation/static/stylesheets/custom.css
Labels: App: Backend, App: Frontend, Type: Bug, Type: Content

#164 Update nannies to relocate payment notification
  application/presentation/payment/views/payment.py
  application/services/payment_service.py
  nanny/settings/base.py
Labels: App: Backend

#165 Refactor/move custom fields and widgets
  application/presentation/first_aid/forms/training_details.py
  application/presentation/form_fields.py
  application/presentation/login/forms/security_question.py
  application/presentation/payment/forms/payment.py
  application/presentation/personal_details/forms/date_of_birth.py
  application/presentation/widgets.py
Labels: App: Backend, Type: Refactor

#167 Feat/ccn3 1940/apply findings from cm accessibility
  application/presentation/childcare_address/views/summary.py
  application/presentation/childcare_training/views/childcare_training_summary.py
  application/presentation/dbs/views/criminal_record_checks_summary.py
  application/presentation/static/stylesheets/custom.css
Labels: App: Frontend, Priority: Medium, Review needed, Type: Content

#169 fix/CCN3-2296/fix first aid date formatting
  application/presentation/first_aid/views/summary.py
Labels: App: Frontend, Type: Bug

#172 Feat/ccn3 2368/update session redirect functionality
  application/presentation/base_views.py
  application/presentation/login/views/validate_magic_link.py
  application/tests/test_login/tests.py
  nanny/urls.py
Labels: App: Backend, App: Frontend, Type: Bug, Type: Enhancement

#173 feat/CCN3-2297/content-updates-start-page
  application/presentation/login/templates/start-page.html
Labels: App: Frontend, Type: Content

#178 feat/CCN3-1835/record-last-accessed
  application/presentation/login/views/security_code.py
  application/presentation/login/views/summary.py
Labels: App: Backend, Type: Enhancement

#180 Fix/ccn3 2415/sms code bypassed by parameter
  application/presentation/login/views/validate_magic_link.py
Labels: App: Backend

#182 Fix/ccn3 2421/user entered fields vulnerability
  application/presentation/childcare_address/forms/childcare_address.py
  application/presentation/feedback/forms/feedback.py
  application/presentation/first_aid/forms/training_details.py
  application/presentation/first_aid/views/training_details.py
  application/presentation/personal_details/forms/home_address.py
  application/presentation/personal_details/forms/name.py
  application/presentation/personal_details/forms/your_children.py
Labels: App: Backend, Priority: High, Type: Bug
