Repository InformedSolutions/OFS-MORE-Nanny-Website, pull requests merged in 2019-02, with the labels that each got.

#138 feat/CCN3-2093/dbs-details-page
  application/presentation/dbs/views/capita_dbs_details.py
Labels: App: Frontend, Type: Feature

#141 fix/CCN3-2006/home-address-content-updates
  application/presentation/personal_details/templates/address-details.html
Labels: App: Frontend, Priority: Medium, Type: Content

#139 feat/CCN3-2013/delete-costs-from-top-banner
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Type: Content

#143 fix/CCN3-1907/outdated-content-your-email-address
  application/presentation/login/templates/new-user-sign-in.html
Labels: App: Frontend, Priority: Medium, Type: Content

#142 feat/CCN3-2005/sign-in-details-content
  application/presentation/login/templates/contact-details-summary.html
Labels: App: Frontend, Priority: Medium, Type: Content

#144 fix/patch-lived-abroad-tests
  application/tests/test_childcare_address/tests_views/test_where_you_work.py
  application/tests/test_personal_details/test_views/test_lived_abroad.py
Labels: App: Backend, Priority: Medium, Type: Tests

#140 feat/CCN3-1559/ Update-content-for-insurance-cover
  application/presentation/insurance_cover/templates/insurance-cover.html
  application/presentation/insurance_cover/templates/insurance-guidance.html
Labels: App: Frontend, Type: Content

#146 feat/CCN3-1908/remove-sentence-check-your-email
  application/presentation/login/templates/check-email.html
Labels: App: Frontend, Type: Content

#148 feat/CCN3-2007/wrong-validation-first-aid-date
  application/presentation/first_aid/forms/training_details.py
Labels: App: Frontend, Type: Bug

#152 feat/CCN3-2073/update-content-childcare-address-page
  application/presentation/childcare_address/forms/childcare_location.py
  application/presentation/childcare_address/views/summary.py
Labels: App: Frontend, Type: Content

#151 feat/CCN3-2072/update sentence on payment page
  application/presentation/payment/templates/payment-details.html
Labels: App: Frontend, Type: Content

#153 feat/CCN3-2119/send-survey-email
  application/presentation/declaration/views/confirmation.py
Labels: App: Backend, Type: Enhancement

#154 fix/CCN3-1994/update-validation-message-sign-in-page
  application/presentation/login/forms/security_question.py
Labels: App: Frontend, Priority: Medium, Type: Content

#156 fix/CCN3-1904/childcare address details back button
  application/presentation/childcare_address/forms/childcare_location.py
  application/presentation/childcare_address/views/childcare_location.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Bug

#158 Fix/ccn3 1904/childcare address details back button
  application/presentation/childcare_address/views/childcare_address_entry.py
  application/presentation/childcare_address/views/childcare_location.py
  application/tests/test_utils.py
Labels: App: Backend, App: Frontend, Type: Bug
